<template name="Header">
  <!-- img class="ui fluid image" src="http://images.fineartamerica.com/images-medium-large-5/koolau-range-panorama-dan-mcmanus.jpg"
       style="max-height: 150px" -->

  <!-- side menu / TOC -->
  <div class="ui top borderless inverted menu"
       style="margin-top: 0px; border-radius: 0px; color:white; background-color: #027450">
    <div class="ui container">

      <a class="item" href="{{pathFor 'Home_Page'}}">
        <h1 style="color: white">ClubHub</h1>
      </a>

      <a class="{{ isActiveRoute 'Categories_Page'}} item"
         href="{{pathFor 'Categories_Page'}}"
         style="color: white">Categories</a>

      <!-- maybe try to find a simple searchbar pkg to implement this part -->
      <a class="item">
        <div class="ui icon input">
          <input placeholder="Search for a club" type="text">
          <i class="inverted circular search link icon"></i>
        </div>
      </a>

      {{#if currentUser}}
        <a class="{{ isActiveRoute 'User_Profile_Page'}} right item"
           href="{{ pathFor 'User_Profile_Page' }}">My Profile</a>

        <!-- TODO: these should be behind clubAdmin and siteAdmin checks, respectively-->
        <a class="{{ isActiveRoute 'Club_Admin_Page'}} item"
           href="{{ pathFor 'Club_Admin_Page' }}">Club Admin</a>
        <a class="{{ isActiveRoute 'Site_Admin_Page'}} item"
           href="{{ pathFor 'Site_Admin_Page' }}">Site Admin</a>

        {{#if isClubAdmin}}
        {{/if}}

        {{#if isSiteAdmin}}
        {{/if}}

        <!-- a class="{{ isActiveRoute 'Add_Stuff_Page'}} item"
           href="{{ pathFor 'Add_Stuff_Page' }}">Add Stuff </a>
        <a class="{{ isActiveRoute 'List_Stuff_Page'}} item"
           href="{{ pathFor 'List_Stuff_Page' }}">List Stuff</a -->
      {{/if}}

      <!-- the handlebar-if logic here keeps user-profile tab tight on the right when user logged in-->
      <a href="#" class="{{#if currentUser}} item
                         {{else}} right item
                         {{/if}}">
        <p style="color: black">{{> loginButtons align="right"}}</p>
      </a>
    </div>
  </div>
</template>